fastapi
uvicorn
supabase
pandas
openpyxl
psutil
numpy
faiss-cpu
qdrant-client
python-multipart
python-dotenv
httpx
PyMuPDF
google-genai
langchain
langchain-community
langchain-core
langchain-ollama
langchain-groq
langchain-google-genai
tqdm
ragas
datasets
