fastapi
uvicorn
pymupdf
torch --index-url https://download.pytorch.org/whl/cu121
transformers
sentence-transformers
numpy
requests
python-multipart
python-dotenv
groq
huggingface_hub
datasets
pandas
pyarrow
tqdm
PyJWT
passlib[bcrypt]
python-jose[cryptography]
httpx
optimum
onnxruntime
